//out:../css/about

@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "nav.less";
@import "footer.less";

//about.html less content starts here:
nav {
  top: 0;
}

.bios {
  margin: 10px auto;
  // background: @lt-green;

  &,
  .bio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
  }

  .bio {
    // border: solid 2px #fff;
    box-shadow: 0px 0px 5px #fff;
    background: linear-gradient(#720000, #fff, #720000, #720000, #0e0e0e);
    flex-direction: column;
    width: 40vw;

    img {
      max-width: 90%;
      height: 40vh;
      margin: 10px auto;
    }

    h3 {
      font-weight: bolder;
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }

    .icons {
      font-size: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      a {
        text-decoration: none;
        margin: 2px;

        i {
          background: @white;
          color: #720000;
          border-radius: 25px;
          padding: 3px;

          &:hover {
            box-shadow: 1px 1px 5px @white;
            background: @white;
            color: @blue;
          }

          &:active {
            box-shadow: none;
            color: @white;
            background: @eggplant;
          }
        }
      }
    }
  }

  @media @tablet {
    flex-direction: column;

    &,
    .bio {
      width: 100%;
    }
  }
}
