//out:../css/about

@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "nav.less";
@import "footer.less";

//about.html less content starts here:
nav {
  top: 0;
}

.bios {
  margin: 10px auto;
  background: @lt-green;

  &,
  .bio {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;

    &,
    img {
      border: solid 2px black;
      border-radius: 10px;
    }
  }

  .bio {
    background: white;
    flex-direction: column;
    width: 40vw;

    img {
      max-width: 90%;
      height: 40vh;
      margin: 10px auto;
    }

    h3 {
      font-weight: bolder;
      font-size: 20px;
    }

    p {
      font-size: 15px;
    }

    .icons {
      font-size: 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 100%;

      a {
        text-decoration: none;
        color: @eggplant;
        margin: 2px;

        i {
          background: @lt-green;
          box-shadow: 2px 2px 10px @eggplant;
          border-radius: 20px;
          padding: 0px;

          &:hover {
            background: @white;
            color: @blue;
            border: 2px solid @blue;
          }
          &:active{
            border: 2px solid @white;
            color:@white;
            background:@eggplant;
          }
        }
      }
    }
  }
}