//out:../css/calculator

@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "nav.less";
@import "cards.less";
@import "footer.less";

//calculator.html less content starts here:
nav {
  top: 0;
}

.cta-card {
  .toggle-title {
    display: none;
  }

  .titleImage {
    display: block;
  }

  .toggle-input {
    display: block;
  }

  .input-note {
    display: none;
  }
}