//out:../css/calculator

@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "nav.less";
@import "cards.less";
@import "footer.less";

//calculator.html less content starts here:
nav {
  top: 0;
}

.cta-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  .toggle-title {
    display: none;
  }

  .titleImage {
    display: block;
  }

  .toggle-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    h4 {
      font-size: 4rem;
    }
    input {
      background: none;
      color: white;
    }
  }

  .input-note {
    display: none;
  }
}