.container .cta {
  .flexbox-container();
  justify-content: space-between;
  align-content: space-between;
  height: 750px;
  .cta-card {
    border: 2px solid @eggplant;
    box-shadow: 8px 8px 20px #301014;
    background: burlywood;
    border-radius: 10px;
    .flexbox();
    justify-content: space-between;
    width: 32%;
    .cta-top {
      width: 100%;
      height: 65px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      background: @white;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      margin: 1px;
      h4 {
        padding: 5px 0 0 5px;
      }
      img {
        padding: 15px;
      }
    }
  }

  .cta-text {
    padding: 2%;
  }

  .logo-img-container {
    margin-top: 2px;
    height: 70px;
    img {
      border-radius: 40px;
      height: 70px;
    }
  }
}
