.container .cta {
  .flexbox-container();
  justify-content: center;
  .cta-card {
    border: 2px solid @eggplant;
    box-shadow: 8px 8px 20px #301014;
    background: @white;
    border-radius: 10px;
    padding: 2%;
    margin: 2%;
    .flexbox();
    justify-content: space-between;
    width: 25%;
    .top {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .img-container {
    height: 50px;
    img {
      border-radius: 5px;
      height: 50px;
    }
  }
}
