.container .cta {
  .flexbox-container();
  .cta-card {
    .flexbox();
    width: 45%;
    .top {
      display: flex;
      justify-content: space-between;
    }
  }

  .img-container {
    height: 50px;
    img {
      height: 50px;
    }
  }
}
