//out:../css/contact

@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "nav.less";
@import "footer.less";

//contact.html less content starts here:
nav {
  top: 0;
}

.form {
  margin: 10px auto;
  // background: @lt-green;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;

  // border: solid 2px black;
  &,
  input,
  textarea,button {
    font-size: 25px;
    font-weight: bolder;
    line-height: 28px;
    width: 50vw;
    margin: 20px auto;

    @media @tablet {

      &,
      #submit_button {
        width: 70vw;
      }
    }

    @media @mobile {

      &,
      #submit_button {
        width: 80vw;
      }
    }
  }

  #submit_button {
    border: none;
    box-shadow: 1px 1px 2px #fff;
    color: #720000;
    background: #fff;

    &:hover {
      background: #220b0b;
      color: #fff;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.hidden{display:none;}