//out:../css/contact

@import "variables.less";
@import "mixins.less";
@import "reset.less";
@import "global.less";
@import "nav.less";
@import "footer.less";

//contact.html less content starts here:
nav {
  top: 0;
}

.form {
  margin: 10px auto;
  // background: @lt-green;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  // border: solid 2px black;
  border-radius: 10px;
  font-size: 15px;

  #submit_button {
    background: none;
    border: none;
    // border: 1px solid #fff;
    box-shadow: 1px 1px 1px #fff;

    &:active {
      box-shadow: none;
    }
  }
}

#after {
  display: none;
}