//out:false
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background: @white;
}

body {
  background: @green;
}

header {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: double 5px @eggplant;
  background: @lt-green;
  h1 {
    margin: 0 auto;
  }
  .header-bottom {
    display: flex;
    justify-content: space-around;
  }
  .header-img-container {
    height: 400px;
    max-width: 60%;
    img {
      height: 400px;
      border-radius: 20px;
    }
  }
  p {
    max-width: 35%;
    display: flex;
    justify-content: flex-start;
  }
}
