//out:false
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}

h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}

p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 95vw;
  width: 100%;
  margin: 10px auto;
  padding: 15px;
  background: @white;
  border-radius: 10px;
  border: 1px solid black;
}

body {
  background: @green;
}

header {
  //height: 550px;

  @media @tablet {
    // height: 750px;
    justify-content: flex-start;
  }

  @media @mobile {
    // height: 700px;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: double 5px @eggplant;
  background: @lt-green;

  h1 {
    margin: 5px auto;

    @media @tablet {
      margin: 15px auto;
    }
  }

  .header-bottom {
    display: flex;
    justify-content: space-around;
    margin: 10px;

    @media @tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  .header-img-container {
    max-height: 90%;
    max-width: 60%;

    @media @tablet {
      max-width: 98%;
    }

    img {
      border-radius: 20px;
    }
  }

  p {
    max-width: 35%;

    @media @tablet {
      max-width: 98%;
    }

    display: flex;
    justify-content: flex-start;
  }
}