.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.flexbox-container {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  color: #edf4ed;
  font-size: 62.5%;
}
html,
body {
  font-family: "Noto Sans JP", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background: linear-gradient(#720000, #0e0e0e);
}
body .container {
  max-width: 95vw;
  width: 100%;
  margin: 120px auto 10px;
  padding: 15px;
}
@media (max-width:800px) {
  body .container {
    margin: 120px auto;
  }
}
@media (max-width:515px) {
  body .container {
    margin: 10px auto;
  }
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (max-width:800px) {
  body header {
    justify-content: flex-start;
  }
}
@media (max-width:515px) {
}
body header h1 {
  margin: 5px auto;
}
@media (max-width:800px) {
  body header h1 {
    margin: 15px auto;
  }
}
body header .header-bottom {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
@media (max-width:800px) {
  body header .header-bottom {
    flex-direction: column;
    align-items: center;
  }
}
body header .header-img-container {
  max-height: 90%;
  max-width: 60%;
}
@media (max-width:800px) {
  body header .header-img-container {
    max-width: 98%;
  }
}
body header p {
  max-width: 35%;
  display: flex;
  justify-content: flex-start;
}
@media (max-width:800px) {
  body header p {
    max-width: 98%;
  }
}
.credentials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 0px;
}
.credentials input {
  margin: 5px;
}
.welcome {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin: 15px;
  margin-bottom: 40px;
}
.hidden {
  display: none;
}
body nav,
body footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0px;
}
@media (max-width:515px) {
  body nav,
  body footer {
    height: 90px;
    padding: 2px;
  }
}
body nav .logostamp,
body footer .logostamp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
@media (max-width:800px) {
  body nav .logostamp,
  body footer .logostamp {
    justify-content: flex-end;
    width: 20%;
  }
}
@media (max-width:515px) {
  body nav .logostamp,
  body footer .logostamp {
    justify-content: flex-end;
    width: 40%;
  }
}
body nav .title,
body footer .title,
body nav .logo,
body footer .logo {
  border: 4px solid #edf4ed;
  box-shadow: 2px 2px 5px #301014;
}
body nav .title,
body footer .title,
body nav .logo,
body footer .logo {
  max-height: 82px;
}
body nav .title:hover,
body footer .title:hover,
body nav .logo:hover,
body footer .logo:hover {
  box-shadow: 2px 2px 5px #edf4ed;
  border: #477998 2px solid;
}
body nav .title:active,
body footer .title:active,
body nav .logo:active,
body footer .logo:active {
  box-shadow: none;
  border: none;
}
body nav .title,
body footer .title {
  max-width: 163px;
  width: 12vw;
  height: 6vw;
}
@media (max-width:800px) {
  body nav .title,
  body footer .title {
    display: none;
  }
}
body nav .logo,
body footer .logo {
  max-width: 82px;
  width: 6vw;
  height: 6vw;
  border-radius: 50%;
}
@media (max-width:800px) {
  body nav .logo,
  body footer .logo {
    height: 65px;
    width: 65px;
  }
}
body nav navbar,
body footer navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
@media (max-width:800px) {
  body nav navbar,
  body footer navbar {
    width: 80%;
  }
}
@media (max-width:515px) {
  body nav navbar,
  body footer navbar {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 60%;
  }
}
body nav a,
body footer a {
  text-decoration: none;
}
body nav nav-item,
body footer nav-item {
  color: #301014;
  font-weight: bolder;
  font-size: 20px;
  background: #edf4ed;
  box-shadow: 2px 2px 5px #301014;
  padding: 8px 5px;
}
@media (max-width:800px) {
  body nav nav-item,
  body footer nav-item {
    padding: 5px;
    margin: 5px;
  }
}
@media (max-width:515px) {
  body nav nav-item,
  body footer nav-item {
    font-size: 15px;
    padding: 1px;
  }
}
body nav nav-item:hover,
body footer nav-item:hover {
  background: #477998;
  color: #edf4ed;
  box-shadow: 2px 2px 5px #edf4ed;
}
body nav nav-item:active,
body footer nav-item:active {
  background: #edf4ed;
  color: #301014;
  border: 2px solid #301014;
  box-shadow: none;
}
body nav {
  position: fixed;
}
@media (max-width:515px) {
  body nav {
    position: relative;
  }
}
body footer {
  margin: 20px 0px;
}
body footer nav-item {
  border: none;
}
body footer a nav-item,
body footer .logo,
body footer .title {
  box-shadow: 2px 2px 5px #fff;
}
body .copyright {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 15px;
}
nav {
  top: 0;
}
.bios {
  margin: 10px auto;
}
.bios,
.bios .bio {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}
.bios .bio {
  box-shadow: 0px 0px 5px #fff;
  background: linear-gradient(#720000, #fff, #720000, #720000, #0e0e0e);
  flex-direction: column;
  width: 40vw;
}
.bios .bio img {
  max-width: 90%;
  height: 40vh;
  margin: 10px auto;
}
.bios .bio h3 {
  font-weight: bolder;
  font-size: 20px;
}
.bios .bio p {
  font-size: 15px;
}
.bios .bio .icons {
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.bios .bio .icons a {
  text-decoration: none;
  margin: 2px;
}
.bios .bio .icons a i {
  background: #edf4ed;
  color: #720000;
  border-radius: 25px;
  padding: 3px;
}
.bios .bio .icons a i:hover {
  box-shadow: 1px 1px 5px #edf4ed;
  background: #edf4ed;
  color: #477998;
}
.bios .bio .icons a i:active {
  box-shadow: none;
  color: #edf4ed;
  background: #301014;
}
@media (max-width:800px) {
  .bios {
    flex-direction: column;
  }
  .bios,
  .bios .bio {
    width: 100%;
  }
}
