.flexbox {
  display: flex;
  flex-wrap: wrap;
}
.flexbox-container {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background: #79b791;
}
body .container {
  max-width: 95vw;
  width: 100%;
  margin: 195px auto 10px;
  padding: 15px;
  background: #edf4ed;
  border-radius: 10px;
  border: 1px solid black;
}
@media (max-width:800px) {
  body .container {
    margin: 120px auto;
  }
}
@media (max-width:515px) {
  body .container {
    margin: 10px auto;
  }
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: double 5px #301014;
  background: #c4d6b0;
  border-radius: 10px;
}
@media (max-width:800px) {
  body header {
    justify-content: flex-start;
  }
}
@media (max-width:515px) {
}
body header h1 {
  margin: 5px auto;
}
@media (max-width:800px) {
  body header h1 {
    margin: 15px auto;
  }
}
body header .header-bottom {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
@media (max-width:800px) {
  body header .header-bottom {
    flex-direction: column;
    align-items: center;
  }
}
body header .header-img-container {
  max-height: 90%;
  max-width: 60%;
}
@media (max-width:800px) {
  body header .header-img-container {
    max-width: 98%;
  }
}
body header .header-img-container img {
  border-radius: 20px;
}
body header p {
  max-width: 35%;
  display: flex;
  justify-content: flex-start;
}
@media (max-width:800px) {
  body header p {
    max-width: 98%;
  }
}
body nav,
body footer {
  width: 100%;
  background: #477998;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px 0px;
}
@media (max-width:515px) {
  body nav,
  body footer {
    height: 120px;
    padding: 2px;
  }
}
body nav .logostamp,
body footer .logostamp {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
@media (max-width:800px) {
  body nav .logostamp,
  body footer .logostamp {
    justify-content: flex-end;
    width: 25%;
  }
}
body nav,
body footer,
body nav .title,
body footer .title,
body nav .logo,
body footer .logo {
  border: 4px solid #edf4ed;
  box-shadow: 2px 2px 5px #301014;
}
body nav .title:active,
body footer .title:active,
body nav .logo:active,
body footer .logo:active {
  box-shadow: none;
}
body nav .title,
body footer .title {
  width: 15vw;
  height: 10vw;
  border-radius: 20px;
}
@media (max-width:800px) {
  body nav .title,
  body footer .title {
    display: none;
  }
}
body nav .logo,
body footer .logo {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
}
@media (max-width:800px) {
  body nav .logo,
  body footer .logo {
    height: 65px;
    width: 65px;
  }
}
body nav navbar,
body footer navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}
@media (max-width:800px) {
  body nav navbar,
  body footer navbar {
    justify-content: flex-start;
  }
}
@media (max-width:515px) {
  body nav navbar,
  body footer navbar {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
}
body nav a,
body footer a {
  text-decoration: none;
}
body nav a nav-item,
body footer a nav-item {
  color: #301014;
  font-weight: bolder;
  font-size: 20px;
  background: #edf4ed;
  border: 2px solid #301014;
  box-shadow: 2px 2px 5px #301014;
  border-radius: 5px;
  padding: 15px 5px;
}
@media (max-width:800px) {
  body nav a nav-item,
  body footer a nav-item {
    padding: 5px;
    margin: 5px;
  }
}
@media (max-width:515px) {
  body nav a nav-item,
  body footer a nav-item {
    font-size: 15px;
  }
}
body nav a nav-item:hover,
body footer a nav-item:hover {
  background: #477998;
  color: #edf4ed;
  border: 3px solid #edf4ed;
}
body nav a nav-item:active,
body footer a nav-item:active {
  background: #edf4ed;
  color: #301014;
  border: 2px solid #301014;
  box-shadow: none;
}
body nav {
  position: fixed;
  margin-top: -10px;
}
@media (max-width:515px) {
  body nav {
    position: relative;
    margin-top: -10px;
  }
}
.container .cta {
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between;
}
.container .cta .cta-card {
  border: 2px solid #301014;
  box-shadow: 8px 8px 20px #301014;
  background: #c4d6b0;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 32%;
  justify-content: space-around;
  max-width: 32%;
}
@media (max-width:800px) {
  .container .cta .cta-card {
    max-width: 47%;
    width: 47%;
  }
}
@media (max-width:515px) {
  .container .cta .cta-card {
    max-width: 100%;
    width: 100%;
  }
}
.container .cta .cta-card .cta-top {
  width: 100%;
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #edf4ed;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 1px;
}
@media (max-width:800px) {
  .container .cta .cta-card .cta-top {
    height: 90px;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
@media (max-width:515px) {
  .container .cta .cta-card .cta-top {
    height: 65px;
    flex-direction: row;
  }
}
.container .cta .cta-card .cta-top h4 {
  padding: 5px 0 0 5px;
}
@media (max-width:800px) {
  .container .cta .cta-card .cta-top h4 {
    font-size: 2rem;
  }
}
.container .cta .cta-card .cta-top img {
  padding: 15px;
}
.container .cta .cta-text {
  padding: 2%;
}
.container .cta .logo-img-container {
  margin-top: 2px;
  height: 70px;
}
.container .cta .logo-img-container img {
  border-radius: 40px;
  height: 70px;
}
body footer {
  margin: 20px 0px;
}
body .copyright {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-size: 15px;
}
@media (min-width:801px) {
  .opener {
    height: 100vh;
    width: 100vw;
    animation-name: example;
    animation-delay: 1.5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  @keyframes example {
    0% {
      height: 100%;
      width: 75%;
      margin-left: 15%;
    }
    25% {
      height: 25%;
      width: 50%;
      transform: rotate(90deg);
    }
    65% {
      height: 50%;
      width: 75%;
      transform: rotate(180deg);
      margin-left: 20%;
    }
    100% {
      height: 0%;
      width: 0%;
      transform: rotate(360deg);
      margin-left: 0%;
    }
  }
}
@media (max-width:800px) {
  .opener {
    height: 100vh;
    width: 98vw;
    animation-name: small;
    animation-delay: 1.5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
  }
  @keyframes small {
    0% {
      height: 100vh;
    }
    100% {
      height: 0vh;
    }
  }
}
